Repository google/WebFundamentals, pull requests merged in 2018-12, with the labels that each got.

#6921 add video to wndt71
  src/content/en/updates/2018/10/devtools.md
Labels: P1, cla: yes, section-updates, type-Content

#6925 fix paths
  src/content/en/updates/2017/04/devtools-release-notes.md
  src/content/en/updates/2017/05/devtools-release-notes.md
  src/content/en/updates/2017/07/devtools-release-notes.md
  src/content/en/updates/2017/08/devtools-release-notes.md
  src/content/en/updates/2017/10/devtools-release-notes.md
  src/content/en/updates/2017/11/devtools-release-notes.md
  src/content/en/updates/2018/01/devtools.md
  src/content/en/updates/2018/02/devtools.md
  src/content/en/updates/2018/04/devtools.md
  src/content/en/updates/2018/05/devtools.md
  src/content/en/updates/2018/08/devtools.md
  src/content/en/updates/2018/10/devtools.md
  src/content/en/updates/2018/11/devtools.md
Labels: P1, cla: yes, section-updates, type-Content

#6928 Replace autoplay with play()
  src/content/en/updates/2018/10/watch-video-using-picture-in-picture.md
Labels: cla: yes

#6906 Updates to Async Cookies API article
  src/content/en/updates/2018/09/asynchronous-access-to-http-cookies.md
  src/content/en/updates/capabilities.md
Labels: cla: yes, content-updated, section-updates

#6903 Typo fixes for the Workbox docs
  src/content/en/tools/workbox/guides/configure-workbox.md
  src/content/en/tools/workbox/guides/generate-service-worker/cli.md
Labels: cla: yes, content-updated, section-tools, type-Content

#6894 Added description and fixed code typo.
  src/content/en/fundamentals/performance/optimizing-content-efficiency/client-hints/index.md
Labels: cla: yes, content-updated, section-fundamentals, type-Content

#6893 Remove CDS hero on homepage
  src/content/en/_index.yaml
Labels: cla: yes, content-updated, type-Content

#6892 Add set-cookie removal.
  src/content/en/updates/2018/02/chrome-65-deprecations.md
Labels: cla: yes, content-updated, section-updates, type-Content

#6911 Add warning for PiP events
  src/content/en/updates/2018/10/watch-video-using-picture-in-picture.md
Labels: cla: no

#6931 New in Chrome 71 video & post
  src/content/en/updates/2018/10/intl-relativetimeformat.md
  src/content/en/updates/2018/12/nic71.md
  src/content/en/updates/_redirects.yaml
  src/content/en/updates/images/2018/12/twitter-rel-time.jpg
  src/content/en/updates/images/2018/12/vertical-text.png
  src/data/commonTags.json
Labels: cla: yes, content-new, section-updates, type-Content

#6933 Correct link
  src/content/en/tools/lighthouse/audits/install-prompt.md
Labels: P2, cla: yes, section-tools, type-Content

#6646 Fix broken button in 'Get Started With The Console' tutorial
  src/content/en/tools/chrome-devtools/console/get-started.md
Labels: cla: yes

#6940 fix #6938 by adding "show console sidebar" icon
  src/content/en/tools/chrome-devtools/console/get-started.md
  src/content/en/tools/chrome-devtools/images/shared/show-console-sidebar.png
Labels: P1, cla: yes, section-tools, type-Content

#6941 fix a few lighthouse bugs
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/lighthouse/_toc.yaml
  src/content/en/tools/lighthouse/audits/cache-policy.md
  src/content/en/tools/lighthouse/audits/install-prompt.md
  src/content/en/tools/lighthouse/audits/noopener.md
  src/content/en/tools/lighthouse/audits/optimize-images.md
  src/content/en/tools/lighthouse/audits/unoptimized-images.md
  src/content/en/tools/lighthouse/audits/web-sql.md
Labels: P1, cla: yes, section-tools, type-Content

#6697 Background fetch article
  src/content/en/updates/2018/10/background-fetch.md
Labels: cla: yes

#6934 Web Share Target Post
  src/content/en/updates/2018/12/web-share-target.md
  src/content/en/updates/capabilities.md
  src/content/en/updates/images/2018/12/wst-receive.png
  src/content/en/updates/images/2018/12/wst-send.png
Labels: cla: yes, content-new, proj-fugu, section-updates, type-Content

#6947 Fixing heading ID. Moving article to correct month.
  src/content/en/updates/2018/12/background-fetch.md
Labels: cla: yes, type-Content

#6935 Disables comments widget tests
  gulp-tasks/test.js
Labels: cla: yes, type-Infrastructure

#6943 Use play() instead of autoplay for mediaDevices samples
  src/content/en/updates/2018/10/watch-video-using-picture-in-picture.md
Labels: cla: yes

#6946 Discouraging changing SW script URL
  src/content/en/fundamentals/primers/service-workers/lifecycle.md
Labels: cla: yes, type-Content

#6948 Web Share Target typo correction
  src/content/en/updates/2018/12/web-share-target.md
Labels: cla: yes

#6949 Additional comments from WST doc
  src/content/en/updates/2018/12/web-share-target.md
Labels: cla: yes, content-updated, proj-fugu, section-updates

#6964 badging API fugu post
  src/content/en/updates/2018/12/badging-api.md
  src/content/en/updates/capabilities.md
  src/content/en/updates/images/2018/12/badges.png
  src/data/commonTags.json
Labels: cla: yes, content-new, proj-fugu, section-updates, type-Content

#6966 Fixing typo in documentation for network-only strategies.
  src/content/en/tools/workbox/modules/workbox-strategies.md
Labels: cla: yes

#6954 Minor typo fix
  src/content/en/updates/2018/12/background-fetch.md
Labels: cla: yes, content-updated, type-Content

#6967 WebAPK Splash Screen generation update
  src/content/en/fundamentals/integration/webapks.md
  src/content/en/fundamentals/web-app-manifest/index.md
Labels: cla: yes, content-updated, section-fundamentals, type-Content

#6971 surpress(es) -> suppress(es)
  src/content/en/fundamentals/design-and-ux/input/touch/_code/forced-states-example.html
  src/content/en/fundamentals/design-and-ux/input/touch/_code/states-example.html
  src/content/en/fundamentals/design-and-ux/input/touch/_code/user-select-example.html
Labels: cla: yes, content-updated, section-fundamentals, type-Content

#6974 Add update on class fields
  src/content/en/updates/2018/12/class-fields.md
  src/content/en/updates/images/generic/js.png
Labels: cla: yes, type-Content

#6982 fix multiple devtools issues
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/device-mode/emulate-mobile-viewports.md
  src/content/en/tools/chrome-devtools/device-mode/imgs/add-custom-device.png
  src/content/en/tools/chrome-devtools/device-mode/imgs/device-type.png
  src/content/en/tools/chrome-devtools/device-mode/imgs/edit.png
  src/content/en/tools/chrome-devtools/device-mode/index.md
  src/content/en/tools/chrome-devtools/images/inspect.png
  src/content/en/tools/chrome-devtools/images/open-from-main.png
  src/content/en/tools/chrome-devtools/index.md
  src/content/en/tools/chrome-devtools/javascript/guides/blackbox-chrome-extension-scripts.md
  src/content/en/tools/chrome-devtools/javascript/guides/images/blackbox-content-scripts.png
  src/content/en/tools/chrome-devtools/open.md
  src/content/en/tools/chrome-devtools/shortcuts.md
Labels: P1, cla: yes, content-new, content-updated, section-tools, type-Content

#6983 fix #6981
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/device-mode/imgs/user-agent.png
  src/content/en/tools/chrome-devtools/device-mode/override-user-agent.md
  src/content/en/tools/chrome-devtools/images/shared/command-menu.png
Labels: P2, cla: yes, content-new, section-tools, type-Content

#6984 fix #5800, #6242, #6299, #6306, #6430, #6596, #6618
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/accessibility/focus.md
  src/content/en/tools/chrome-devtools/console/console-reference.md
  src/content/en/tools/chrome-devtools/css/imgs/print-mode.png
  src/content/en/tools/chrome-devtools/css/index.md
  src/content/en/tools/chrome-devtools/css/print-preview.md
  src/content/en/tools/chrome-devtools/css/reference.md
  src/content/en/tools/chrome-devtools/images/shared/create-live-expression.png
  src/content/en/tools/chrome-devtools/images/shared/live-expression.png
  src/content/en/tools/chrome-devtools/shortcuts.md
  src/content/en/tools/chrome-devtools/workspaces/index.md
Labels: P1, cla: yes, content-new, content-updated, section-tools, type-Content

#6985 Update redirecting Picturefill URL
  src/content/ar/fundamentals/design-and-ux/responsive/images.md
  src/content/de/fundamentals/design-and-ux/responsive/images.md
  src/content/en/fundamentals/design-and-ux/responsive/images.md
  src/content/es/fundamentals/design-and-ux/responsive/images.md
  src/content/fr/fundamentals/design-and-ux/responsive/images.md
  src/content/id/fundamentals/design-and-ux/responsive/images.md
  src/content/it/fundamentals/design-and-ux/responsive/images.md
  src/content/ja/fundamentals/design-and-ux/responsive/images.md
  src/content/ko/fundamentals/design-and-ux/responsive/images.md
  src/content/nl/fundamentals/design-and-ux/responsive/images.md
  src/content/pl/fundamentals/design-and-ux/responsive/images.md
  src/content/pt-br/fundamentals/design-and-ux/responsive/images.md
  src/content/ru/fundamentals/design-and-ux/responsive/images.md
  src/content/zh-cn/fundamentals/design-and-ux/responsive/images.md
Labels: cla: yes

#6976 Fix link in promises.md
  src/content/en/fundamentals/primers/promises.md
  src/content/es/fundamentals/primers/promises.md
  src/content/id/fundamentals/primers/promises.md
  src/content/ja/fundamentals/primers/promises.md
  src/content/ko/fundamentals/primers/promises.md
  src/content/pt-br/fundamentals/primers/promises.md
  src/content/zh-cn/fundamentals/primers/promises.md
  src/content/zh-tw/fundamentals/primers/promises.md
Labels: cla: yes

#6992 Replace featured image on wst post
  src/content/en/updates/2018/12/web-share-target.md
Labels: cla: yes, content-updated, proj-fugu, section-updates, type-Content

#6993 Clarify how FCP is measured.
  src/content/en/tools/lighthouse/audits/first-contentful-paint.md
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#6994 fix lighthouse issues
  src/content/en/fundamentals/app-install-banners/_a2hs-criteria.html
  src/content/en/fundamentals/performance/optimizing-content-efficiency/webfont-optimization.md
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/lighthouse/_toc.yaml
  src/content/en/tools/lighthouse/audits/blocking-resources.md
  src/content/en/tools/lighthouse/audits/estimated-input-latency.md
  src/content/en/tools/lighthouse/audits/offscreen-images.md
  src/content/en/tools/lighthouse/audits/optimize-images.md
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#6995 Add `Intl.ListFormat` update
  src/content/en/images/contributors/franktang.jpg
  src/content/en/updates/2018/12/class-fields.md
  src/content/en/updates/2018/12/intl-listformat.md
  src/data/_contributors.yaml
Labels: cla: yes, type-Content

#6996 Add spaces
  src/content/en/updates/2018/12/intl-listformat.md
Labels: cla: yes, content-updated, type-Content

#6989 Wake Lock Capabilities Post
  src/content/en/updates/2018/12/wakelock.md
  src/content/en/updates/capabilities.md
  src/content/en/updates/images/2018/12/wake-logo-featured.png
  src/data/commonTags.json
Labels: cla: yes, content-new, proj-fugu, section-updates, type-Content

#6999 add link to github in the "yes" response
  src/content/en/_shared/helpful.html
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#6969 Add Deprecations/Removals for Chrome 72.
  src/content/en/updates/2018/12/chrome-72-deps-rems.md
Labels: cla: yes

#6998 Wake Lock Update
  src/content/en/updates/2018/12/wakelock.md
Labels: cla: yes, content-updated, proj-fugu, section-updates, type-Content

#7003 fix devtools issues
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/console/api.md
  src/content/en/tools/chrome-devtools/console/utilities.md
  src/content/en/tools/chrome-devtools/device-mode/device-input-and-sensors.md
  src/content/en/tools/chrome-devtools/device-mode/geolocation.md
  src/content/en/tools/chrome-devtools/device-mode/imgs/orientation-model.png
  src/content/en/tools/chrome-devtools/device-mode/imgs/portrait-upside-down.png
  src/content/en/tools/chrome-devtools/device-mode/imgs/tokyo.png
  src/content/en/tools/chrome-devtools/device-mode/orientation.md
  src/content/en/tools/chrome-devtools/device-mode/override-user-agent.md
  src/content/en/tools/chrome-devtools/javascript/breakpoints.md
Labels: P1, cla: yes, content-new, content-updated, section-tools, type-Content

#7009 fix 6 devtools issues
  src/content/en/tools/chrome-devtools/beginners/_code/final.html
  src/content/en/tools/chrome-devtools/beginners/html.md
  src/content/en/tools/chrome-devtools/console/_code/primes.html
  src/content/en/tools/chrome-devtools/console/api.md
  src/content/en/tools/chrome-devtools/console/get-started.md
  src/content/en/tools/chrome-devtools/images/sources-network-pane.png
  src/content/en/tools/chrome-devtools/images/sources-page-pane.png
  src/content/en/tools/chrome-devtools/javascript/breakpoints.md
  src/content/en/tools/chrome-devtools/javascript/imgs/pause-on-exceptions-highlight.png
  src/content/en/tools/chrome-devtools/sources.md
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7005 Fix RioRun link, improve link text for Experimenting with *the* Wake Lock API
  src/content/en/updates/2018/12/wakelock.md
Labels: cla: yes

#7004 Fix typos
  src/content/en/updates/2018/12/chrome-72-deps-rems.md
Labels: cla: yes

#7011 Http 203 podcast
  src/content/en/shows/http203/podcast/when-laptops-go-bad-on-stage.md
Labels: cla: yes, type-Content

#7013 Fix typo in contributors
  src/data/_contributors.yaml
Labels: cla: yes

#7010 Updates post for getInstalledRelatedApps
  src/content/en/updates/2017/04/getinstalledrelatedapps.md
  src/content/en/updates/2018/12/get-installed-related-apps.md
  src/content/en/updates/_redirects.yaml
  src/content/en/updates/capabilities.md
  src/content/en/updates/images/2018/12/getinstalled-cropped.jpg
  src/data/commonTags.json
Labels: cla: yes, content-new, proj-fugu, section-updates, type-Content

#7030 Fix broken link
  src/content/en/fundamentals/performance/lazy-loading-guidance/images-and-video/index.md
Labels: cla: yes

#7041 #7035 | escape single quote
  src/content/en/ilt/pwa/introduction-to-push-notifications.md
Labels: cla: yes

#7018 Fixes #6582
  src/content/es/fundamentals/primers/service-workers/registration.md
  src/content/id/fundamentals/primers/service-workers/registration.md
  src/content/ko/fundamentals/primers/service-workers/registration.md
  src/content/pt-br/fundamentals/primers/service-workers/registration.md
  src/content/zh-cn/fundamentals/primers/service-workers/registration.md
  src/content/zh-tw/fundamentals/primers/service-workers/registration.md
Labels: cla: yes

#7019 Fixes Let's Encrypt URL
  src/content/en/ilt/pwa/introduction-to-service-worker.md
Labels: cla: yes
