Repository google/WebFundamentals, pull requests merged in 2019-03, with the labels that each got.

#7332 February wrap up post
  src/content/en/updates/2019/02/feb-wrap-up.md
  src/content/en/updates/images/generic/monthly.png
Labels: cla: yes, type-Content

#7338 Edit `workbox-routing` statement for Feb wrap up
  src/content/en/updates/2019/02/feb-wrap-up.md
Labels: cla: yes

#7339 add kosamari as author of wrap up post
  src/content/en/updates/2019/02/feb-wrap-up.md
Labels: cla: yes

#7342 [DevTools] Add DOM tutorial
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/dom/imgs/attributes1.png
  src/content/en/tools/chrome-devtools/dom/imgs/attributes2.png
  src/content/en/tools/chrome-devtools/dom/imgs/attrmod1.png
  src/content/en/tools/chrome-devtools/dom/imgs/attrmod2.png
  src/content/en/tools/chrome-devtools/dom/imgs/content1.png
  src/content/en/tools/chrome-devtools/dom/imgs/current1.png
  src/content/en/tools/chrome-devtools/dom/imgs/current2.png
  src/content/en/tools/chrome-devtools/dom/imgs/global1.png
  src/content/en/tools/chrome-devtools/dom/imgs/hide1.png
  src/content/en/tools/chrome-devtools/dom/imgs/inspect1.png
  src/content/en/tools/chrome-devtools/dom/imgs/inspect3.png
  src/content/en/tools/chrome-devtools/dom/imgs/inspect4.png
  src/content/en/tools/chrome-devtools/dom/imgs/more-actions.png
  src/content/en/tools/chrome-devtools/dom/imgs/nav1.png
  src/content/en/tools/chrome-devtools/dom/imgs/nav2.png
  src/content/en/tools/chrome-devtools/dom/imgs/options1.png
  src/content/en/tools/chrome-devtools/dom/imgs/path1.png
  src/content/en/tools/chrome-devtools/dom/imgs/reorder1.png
  src/content/en/tools/chrome-devtools/dom/imgs/scroll1.png
  src/content/en/tools/chrome-devtools/dom/imgs/search1.png
  src/content/en/tools/chrome-devtools/dom/imgs/subtree1.png
  src/content/en/tools/chrome-devtools/dom/imgs/type1.png
  src/content/en/tools/chrome-devtools/dom/index.md
  src/content/en/tools/chrome-devtools/images/shared/resume-script-execution.png
  src/content/en/tools/chrome-devtools/index.md
Labels: P1, cla: yes, content-new, content-updated, section-tools, type-Content

#7340 Typo fix for wrap up post
  src/content/en/updates/2019/02/feb-wrap-up.md
Labels: cla: yes

#7341 Remove iframe'd Lighthouse runner app
  src/content/en/tools/lighthouse/run.md
Labels: cla: yes

#7345 Removes additional G+ links
  src/content/en/resources/translations.md
  src/content/en/resources/widgets.md
  src/content/en/resources/writing-an-update.md
  src/content/en/showcase/2015/googleplus.md
Labels: cla: yes

#7346 Fix mistakes in the Workbox docs
  src/content/en/tools/workbox/guides/using-bundlers.md
  src/content/en/tools/workbox/modules/workbox-google-analytics.md
Labels: cla: yes, type-Content

#7347 Add info about credentials to manifest docs
  src/content/en/fundamentals/web-app-manifest/index.md
Labels: cla: yes

#7336 Add notes on Safari quirks for hidden lifecycle transitions.
  src/content/en/updates/2018/07/page-lifecycle-api.md
Labels: cla: yes, type-Content

#7350 Fix capitalization
  src/content/en/tools/workbox/modules/workbox-precaching.md
Labels: cla: yes

#7357 [devtools] add placeholder for wndt74
  src/content/en/updates/2019/03/devtools.md
Labels: P1, cla: yes, content-new, section-updates, type-Content

#7356 Add an invitation blurb to the top of mv article.
  src/content/en/updates/2019/02/model-viewer.md
Labels: cla: yes

#7353 Update web agencies data
  src/content/en/agencies/data/agencies.json
  src/content/en/agencies/images/digitaldot_servicios_informaticos_sl.png
  src/content/en/agencies/images/imj_corporation.png
  src/content/en/agencies/images/mobx.png
  src/content/en/agencies/images/netarum.png
  src/content/en/agencies/images/pt._logique_digital_indonesia.png
Labels: P2, cla: yes, section-agencies

#7361 Add missing space.
  src/content/en/updates/2019/02/model-viewer.md
Labels: cla: yes

#7362 Add note for mistaken notice.
  src/content/en/updates/2018/12/chrome-72-deps-rems.md
Labels: P0, cla: yes, content-updated

#7274 [lighthouse] tap targets reference
  src/content/en/tools/lighthouse/_toc.yaml
  src/content/en/tools/lighthouse/audits/_template.md
  src/content/en/tools/lighthouse/audits/images/tap-targets.png
  src/content/en/tools/lighthouse/audits/tap-targets.md
Labels: DO NOT MERGE, P1, cla: yes, content-new, section-tools, type-Content

#7366 Updated to the skipWaiting docs and related recipe
  src/content/en/tools/workbox/_shared/config/single/skipWaiting.html
  src/content/en/tools/workbox/guides/advanced-recipes.md
Labels: cla: yes

#7367 [devtools] update wndt74
  src/content/en/tools/chrome-devtools/images/shared/copy-to-clipboard.png
  src/content/en/updates/2019/03/devtools.md
  src/content/en/updates/images/2019/03/binary1.png
  src/content/en/updates/images/2019/03/binary2.png
  src/content/en/updates/images/2019/03/binary3.png
  src/content/en/updates/images/2019/03/binary4.png
  src/content/en/updates/images/2019/03/binary5.png
  src/content/en/updates/images/2019/03/binary6.png
  src/content/en/updates/images/2019/03/fp.png
  src/content/en/updates/images/2019/03/highlight.png
  src/content/en/updates/images/2019/03/lighthouse1.png
  src/content/en/updates/images/2019/03/longtasks1.png
  src/content/en/updates/images/2019/03/screenshot1.png
  src/content/en/updates/images/2019/03/swfilters1.png
  src/content/en/updates/images/2019/03/swfilters2.png
Labels: P1, cla: yes, content-new, section-updates, type-Content

#7372 [devtools] update long tasks link
  src/content/en/updates/2019/03/devtools.md
Labels: P1, cla: yes, content-updated, section-updates, type-Content

#7355 [devtools] add keyboard navigation guide
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/accessibility/navigation.md
  src/content/en/tools/chrome-devtools/accessibility/reference.md
Labels: cla: yes, content-new, section-tools, type-Content

#7373 [devtools] add video to wndt73 post
  src/content/en/updates/2019/01/devtools.md
Labels: P1, cla: yes, content-updated, section-updates, type-Content

#7271 [zh-cn] Performance > Loading Performance > Optimizing JavaScript > Reduce JavaScript Payloads with Code Splitting
  src/content/zh-cn/fundamentals/performance/optimizing-javascript/code-splitting/index.md
Labels: cla: no

#7378 Add initial article KV Storage article files
  src/content/en/updates/2019/03/kv-storage.md
  src/content/en/updates/images/2019/03/kv-storage-devtools-source.png
Labels: DO NOT MERGE, cla: yes, section-updates, type-Content

#7379 Fix typo
  src/content/en/updates/2019/03/kv-storage.md
Labels: cla: yes, section-updates, type-Content

#7381 Add missing async keyword
  src/content/en/updates/2019/03/kv-storage.md
Labels: cla: yes, section-updates, type-Content

#7351 Remove OT info from Signed Exchanges post
  src/content/en/updates/2018/11/signed-exchanges.md
Labels: cla: yes, content-updated, section-updates

#7352 Updates to the Badging API post
  src/content/en/updates/2018/12/badging-api.md
  src/content/en/updates/capabilities.md
Labels: cla: yes, content-updated, proj-fugu, section-updates

#7354 Updates for getInstalledRelatedApps
  src/content/en/updates/2018/12/get-installed-related-apps.md
  src/content/en/updates/capabilities.md
Labels: cla: yes, content-updated, proj-fugu

#7360 desktop PWA updates for Chrome 73
  src/content/en/fundamentals/web-app-manifest/index.md
  src/content/en/progressive-web-apps/desktop.md
Labels: cla: yes, content-updated, type-Content

#7364 Don't change wf_updated_on if its in the future
  gulp-tasks/wfUpdatedOn.js
Labels: cla: yes, type-Infrastructure

#7368 workbox: use correct filename in register-sw snippet
  src/content/en/tools/workbox/guides/_shared/register-sw.html
Labels: cla: yes

#7375 2013 Updates
  src/content/en/updates/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API.md
  src/content/en/updates/2013/02/CSS-Background-shorthand-coming-to-mobile-WebKit-browsers.md
  src/content/en/updates/2013/02/Profiling-Long-Paint-Times-with-DevTools-Continuous-Painting-Mode.md
  src/content/en/updates/2013/02/WebRTC-RTCDataChannel-demo-API-changes-and-Chrome-talks-to-Firefox.md
  src/content/en/updates/2013/03/Introduction-to-Custom-Filters-aka-CSS-Shaders.md
  src/content/en/updates/2013/03/Visualizing-Shadow-DOM-Concepts.md
  src/content/en/updates/2013/03/What-s-the-CSS-scope-pseudo-class-for.md
  src/content/en/updates/2013/06/sourceMappingURL-and-sourceURL-syntax-changed.md
  src/content/en/updates/2013/07/Alpha-transparency-in-Chrome-video.md
  src/content/en/updates/2013/09/DevTools-answers-What-font-is-that.md
  src/content/en/updates/2013/09/dialog-element-Modals-made-easy.md
  src/content/en/updates/2013/10/Flexbox-layout-isn-t-slow.md
  src/content/en/updates/2013/10/Web-Audio-live-audio-input-now-on-Android.md
  src/content/en/updates/2013/11/The-Landscape-Of-Front-end-Development-Automation-Slides.md
  src/content/en/updates/2013/11/The-Yeoman-Monthly-Digest-1.md
  src/content/en/updates/2013/12/DevTools-Digest-December-2013.md
  src/content/en/updates/2013/12/New-Web-Animations-engine-in-Blink-drives-CSS-Animations-Transitions.md
Labels: cla: yes

#7382 New in Chrome 73 post
  src/content/en/updates/2019/03/nic73.md
  src/content/en/updates/_redirects.yaml
  src/content/en/updates/images/2019/03/twitter-installed.jpg
Labels: cla: yes

#7363 Adds last updated to all capabilities articles
  src/content/en/updates/2018/11/writable-files.md
  src/content/en/updates/2018/12/wakelock.md
  src/content/en/updates/2018/12/web-share-target.md
  src/content/en/updates/capabilities.md
Labels: cla: yes, content-updated, proj-fugu, type-Content

#7377 Updated web agencies data
  src/content/en/agencies/data/agencies.json
  src/content/en/agencies/images/pt_logique_digital_indonesia.png
Labels: P2, cla: yes, section-agencies

#7383 Chrome Canary 74 > Chrome 74
  src/content/en/updates/2019/03/prefers-reduced-motion.md
Labels: cla: yes

#7385 [devtools] update security guide
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/images/network-one.png
  src/content/en/tools/chrome-devtools/images/origin-detail-non-secure.png
  src/content/en/tools/chrome-devtools/images/origin-detail-secure.png
  src/content/en/tools/chrome-devtools/images/overview-mixed.png
  src/content/en/tools/chrome-devtools/images/overview-non-secure.png
  src/content/en/tools/chrome-devtools/images/overview-secure.png
  src/content/en/tools/chrome-devtools/images/view-certificate.png
  src/content/en/tools/chrome-devtools/security.md
  src/content/en/tools/chrome-devtools/security/imgs/certificate.png
  src/content/en/tools/chrome-devtools/security/imgs/mixedoverview.png
  src/content/en/tools/chrome-devtools/security/imgs/mixedresources.png
  src/content/en/tools/chrome-devtools/security/imgs/nonsecuremain.png
  src/content/en/tools/chrome-devtools/security/imgs/origindetails.png
  src/content/en/tools/chrome-devtools/security/imgs/panel.png
  src/content/en/tools/chrome-devtools/security/index.md
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7386 [devtools] update cookies guide
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/images/shared/clear.png
  src/content/en/tools/chrome-devtools/images/shared/delete.png
  src/content/en/tools/chrome-devtools/manage-data/cookies.md
  src/content/en/tools/chrome-devtools/manage-data/imgs/cookies.png
  src/content/en/tools/chrome-devtools/storage/cookies.md
  src/content/en/tools/chrome-devtools/storage/imgs/clearallcookies.png
  src/content/en/tools/chrome-devtools/storage/imgs/cookies.png
  src/content/en/tools/chrome-devtools/storage/imgs/deletecookie.png
  src/content/en/tools/chrome-devtools/storage/imgs/editcookie.png
  src/content/en/tools/chrome-devtools/storage/imgs/filtercookies.png
  src/content/en/tools/chrome-devtools/storage/imgs/manifest.png
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7387 Clarify how built-in modules are standardized
  src/content/en/updates/2019/03/kv-storage.md
Labels: cla: yes

#7389 Add info about prefer-color-scheme to NIC73
  src/content/en/updates/2019/03/nic73.md
Labels: cla: yes

#7395 Add web based payment app flow diagram.
  src/content/en/fundamentals/payments/images/web-payment-apps/payment-handler-flow.png
  src/content/en/fundamentals/payments/payment-apps-developer-guide/web-payment-apps.md
Labels: cla: yes

#7390 Lock down our handlebars-helpers version
  package.json
Labels: cla: yes, type-Infrastructure

#7394 [devtools] update the resources guide
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/images/shared/more.png
  src/content/en/tools/chrome-devtools/manage-data/page-resources.md
  src/content/en/tools/chrome-devtools/resources/imgs/application.png
  src/content/en/tools/chrome-devtools/resources/imgs/applicationview.png
  src/content/en/tools/chrome-devtools/resources/imgs/filenames.png
  src/content/en/tools/chrome-devtools/resources/imgs/filesearch.png
  src/content/en/tools/chrome-devtools/resources/imgs/frames.png
  src/content/en/tools/chrome-devtools/resources/imgs/groupbyfolder.png
  src/content/en/tools/chrome-devtools/resources/imgs/openfile.png
  src/content/en/tools/chrome-devtools/resources/imgs/page.png
  src/content/en/tools/chrome-devtools/resources/imgs/reveal.png
  src/content/en/tools/chrome-devtools/resources/imgs/sourcesview.png
  src/content/en/tools/chrome-devtools/resources/index.md
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7405 [devtools] move localstorage content
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/manage-data/local-storage.md
  src/content/en/tools/chrome-devtools/storage/imgs/jscontext.png
  src/content/en/tools/chrome-devtools/storage/imgs/localstorage.png
  src/content/en/tools/chrome-devtools/storage/imgs/localstorageconsole.png
  src/content/en/tools/chrome-devtools/storage/imgs/localstoragecreate.png
  src/content/en/tools/chrome-devtools/storage/imgs/localstorageedit.png
  src/content/en/tools/chrome-devtools/storage/imgs/localstoragemenu.png
  src/content/en/tools/chrome-devtools/storage/imgs/localstorageviewer.png
  src/content/en/tools/chrome-devtools/storage/localstorage.md
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#7408 Small fix for the Workbox exclude default value
  src/content/en/tools/workbox/_shared/config/webpack-single/exclude.html
Labels: cla: yes

#7423 Changed release number from 71 to 73
  src/content/en/updates/2018/11/signed-exchanges.md
Labels: cla: yes

#7400 [Typo] Make sure the filename matches
  src/content/en/tools/workbox/guides/get-started.md
Labels: cla: yes

#7402 Fixing houdini demo link from googlechrome to googlechromelabs
  src/content/en/updates/2016/05/houdini.md
Labels: cla: yes

#7409 Clarify correct format for WebUSB udev rules
  src/content/en/fundamentals/native-hardware/build-for-webusb/index.md
Labels: cla: yes

#7418 Update commit hash for custom-tabs-client in using-twa article
  src/content/en/updates/2019/02/using-twa.md
Labels: cla: yes

#7398 Typo fix
  src/content/en/progressive-web-apps/desktop.md
Labels: cla: yes

#7424 Fix example output per #7412
  src/content/en/updates/2019/02/string-matchall.md
Labels: cla: yes

#7434 [devtools] update indexeddb guide
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/images/shared/database.png
  src/content/en/tools/chrome-devtools/images/shared/objectstore.png
  src/content/en/tools/chrome-devtools/manage-data/local-storage.md
  src/content/en/tools/chrome-devtools/storage/imgs/idbclearstorage.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbdatabase.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbindex.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbkvp.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbkvp1.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbkvp2.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbkvpdeleted.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbmenu.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbobjectstore.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbsnippet.png
  src/content/en/tools/chrome-devtools/storage/imgs/idbvalue.png
  src/content/en/tools/chrome-devtools/storage/indexeddb.md
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#7433 [Workbox] New third-party plugin section
  src/content/en/tools/workbox/guides/using-plugins.md
Labels: cla: yes

#7436 Update prefers-reduced-motion.md
  src/content/en/updates/2019/03/prefers-reduced-motion.md
Labels: cla: yes

#7432 app-install-banners: remove desktop pwa flag mention.
  src/content/en/fundamentals/app-install-banners/index.md
Labels: cla: yes

#7413 2015 Q1 Updates
  src/content/en/updates/2015/01/Chrome-Dev-Summit-Applied-Science-Runtime-Perf.md
  src/content/en/updates/2015/01/ES6-Template-Strings.md
  src/content/en/updates/2015/01/Lets-build-some-apps-with-Polymer.md
  src/content/en/updates/2015/01/Polymer-State-of-the-Union.md
  src/content/en/updates/2015/01/What-the-Viewport.md
  src/content/en/updates/2015/01/pixelated.md
  src/content/en/updates/2015/02/offline-first-with-sw-precache.md
  src/content/en/updates/2015/03/creating-semantic-sites-with-web-components-and-jsonld.md
  src/content/en/updates/2015/03/devtools-timeline-now-providing-the-full-story.md
  src/content/en/updates/2015/03/introduction-to-fetch.md
  src/content/en/updates/2015/03/push-notifications-on-the-open-web.md
Labels: cla: yes

#7393 Update feature policy article for.
  src/content/en/updates/2018/06/feature-policy.md
Labels: cla: yes, content-updated

#7410 2014 Updates
  src/content/en/updates/2014/01/Chrome-Dev-Summit-Mobile-Summary.md
  src/content/en/updates/2014/01/Chrome-Dev-Summit-Open-Web-Platform-Summary.md
  src/content/en/updates/2014/01/Chrome-Dev-Summit-Performance-Summary.md
  src/content/en/updates/2014/01/Chrome-Dev-Summit-Platforms-Summary.md
  src/content/en/updates/2014/01/Chrome-Dev-Summit-Polymer-declarative-encapsulated-reusable-components.md
  src/content/en/updates/2014/01/Web-apps-that-talk-Introduction-to-the-Speech-Synthesis-API.md
  src/content/en/updates/2014/02/The-Yeoman-Monthly-Digest-3.md
  src/content/en/updates/2014/03/Get-on-the-CSS-Grid.md
  src/content/en/updates/2014/05/A-More-Compatible-Smoother-Touch.md
  src/content/en/updates/2014/05/Web-Animations-element-animate-is-now-in-Chrome-36.md
  src/content/en/updates/2014/06/Automating-Web-Performance-Measurement.md
  src/content/en/updates/2014/07/Blob-support-for-IndexedDB-landed-on-Chrome-Dev.md
  src/content/en/updates/2014/07/Web-Audio-Changes-in-m36.md
  src/content/en/updates/2014/07/dialog-element-shipped-in-Chrome-37-Beta.md
  src/content/en/updates/2014/08/Collecting-and-Iterating-the-ES6-Way.md
  src/content/en/updates/2014/08/Easier-ArrayBuffer-String-conversion-with-the-Encoding-API.md
  src/content/en/updates/2014/09/Precision-Touch-for-Precise-Gestures.md
  src/content/en/updates/2014/10/Generators-the-Gnarly-Bits.md
  src/content/en/updates/2014/10/Send-beacon-data-in-Chrome-39.md
  src/content/en/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android.md
  src/content/en/updates/2014/11/frame-timing-api.md
  src/content/en/updates/2014/12/Fundamental-of-Mobile-Web-Development.md
  src/content/en/updates/2014/12/web-animation-playback.md
Labels: cla: yes

#7437 Add request fugu feature to capabilities page
  src/content/en/updates/capabilities.md
Labels: cla: yes, content-updated, proj-fugu, section-updates

#7445 [devtools] fix #7331 by updating snippets guide
  src/content/en/tools/chrome-devtools/javascript/imgs/createsnippetcommand.png
  src/content/en/tools/chrome-devtools/javascript/imgs/editor.png
  src/content/en/tools/chrome-devtools/javascript/imgs/emptysources.png
  src/content/en/tools/chrome-devtools/javascript/imgs/runsnippet.png
  src/content/en/tools/chrome-devtools/javascript/imgs/runsnippetcommand.png
  src/content/en/tools/chrome-devtools/javascript/imgs/showsnippets.png
  src/content/en/tools/chrome-devtools/javascript/imgs/snippetexampleafter.png
  src/content/en/tools/chrome-devtools/javascript/imgs/snippetexamplebefore.png
  src/content/en/tools/chrome-devtools/javascript/imgs/snippetname.png
  src/content/en/tools/chrome-devtools/javascript/imgs/snippetspane.png
  src/content/en/tools/chrome-devtools/javascript/imgs/unsavedsnippet.png
  src/content/en/tools/chrome-devtools/javascript/snippets.md
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#7446 [devtools] commit rest of the stuff for #7331
  src/content/en/tools/_redirects.yaml
  src/content/en/tools/chrome-devtools/images/create-snippet.png
  src/content/en/tools/chrome-devtools/images/unsaved-snippet.png
  src/content/en/tools/chrome-devtools/snippets.md
Labels: P1, cla: yes, content-updated, section-tools, type-Content

#7435 Deprecations and Removals for Chrome 74
  src/content/en/updates/2018/12/chrome-72-deps-rems.md
  src/content/en/updates/2019/03/chrome-74-deps-rems.md
Labels: cla: no, content-new

#7444 [Workbox] Missing braces in v4 migration guide example
  src/content/en/tools/workbox/guides/migrations/migrate-from-v3.md
Labels: cla: yes

#7451 [devtools] update appcache content
  src/content/en/tools/chrome-devtools/manage-data/local-storage.md
  src/content/en/tools/chrome-devtools/storage/applicationcache.md
  src/content/en/tools/chrome-devtools/storage/imgs/appcache.png
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7452 [devtools] update cache guide
  src/content/en/tools/chrome-devtools/manage-data/local-storage.md
  src/content/en/tools/chrome-devtools/storage/cache.md
  src/content/en/tools/chrome-devtools/storage/imgs/cache.png
  src/content/en/tools/chrome-devtools/storage/imgs/cachecheckbox.png
  src/content/en/tools/chrome-devtools/storage/imgs/cacheclearsite.png
  src/content/en/tools/chrome-devtools/storage/imgs/cachecontent.png
  src/content/en/tools/chrome-devtools/storage/imgs/cachefilter.png
  src/content/en/tools/chrome-devtools/storage/imgs/cacheselected.png
  src/content/en/tools/chrome-devtools/storage/imgs/cacheview.png
  src/content/en/tools/chrome-devtools/storage/imgs/viewcacheresource.png
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7453 [devtools] update appcache warning
  src/content/en/tools/chrome-devtools/storage/applicationcache.md
Labels: P2, cla: yes, content-updated, section-tools, type-Content

#7454 [devtools] update web sql guide
  src/content/en/tools/chrome-devtools/_toc.yaml
  src/content/en/tools/chrome-devtools/manage-data/local-storage.md
  src/content/en/tools/chrome-devtools/storage/applicationcache.md
  src/content/en/tools/chrome-devtools/storage/cache.md
  src/content/en/tools/chrome-devtools/storage/imgs/clearwebsql.png
  src/content/en/tools/chrome-devtools/storage/imgs/websql.png
  src/content/en/tools/chrome-devtools/storage/imgs/websqlcheckbox.png
  src/content/en/tools/chrome-devtools/storage/imgs/websqlconsole.png
  src/content/en/tools/chrome-devtools/storage/imgs/websqledit.png
  src/content/en/tools/chrome-devtools/storage/imgs/websqlfilter.png
  src/content/en/tools/chrome-devtools/storage/imgs/websqltable.png
  src/content/en/tools/chrome-devtools/storage/websql.md
Labels: P2, cla: yes, content-updated, section-tools, type-Content
