Repository google/WebFundamentals, pull requests merged in 2019-12, with the labels that each got.

#8310 Add What's New In DevTools (Chrome 80)
  src/content/en/images/contributors/ingvarstepanyan.jpg
  src/content/en/updates/2019/12/devtools.md
  src/content/en/updates/2019/12/webassembly.md
  src/content/en/updates/_shared/discover.md
  src/content/en/updates/images/2019/12/columns.png
  src/content/en/updates/images/2019/12/dwarf.png
  src/content/en/updates/images/2019/12/initiators.png
  src/content/en/updates/images/2019/12/letafter.png
  src/content/en/updates/images/2019/12/letbefore.png
  src/content/en/updates/images/2019/12/modes.png
  src/content/en/updates/images/2019/12/overview.png
  src/content/en/updates/images/2019/12/raw.png
  src/content/en/updates/images/2019/12/sourcemaps.png
  src/content/en/updates/images/2019/12/start.png
  src/content/en/updates/images/2019/12/useragent.png
  src/content/en/updates/images/2019/12/wasm.png
  src/data/_contributors.yaml
Labels: DO NOT MERGE, P1, cla: yes, content-new, section-updates, type-Content

#8327 Site Kit: Go back to individual client ID and secret to paste and update instructions
  src/content/en/site-kit/apikey.html
  src/content/en/site-kit/index.html
Labels: cla: yes, section-site-kit, type-Content

#8308 Remove duplicate line
  src/content/en/tools/lighthouse/audits/canonical.md
Labels: cla: yes

#8286 fix: missing comma in sample code
  src/content/en/tools/workbox/_index.yaml
Labels: cla: no

#8307 Fix doc bug: addRequest() should be pushRequest()
  src/content/en/tools/workbox/modules/workbox-background-sync.md
Labels: cla: yes

#5519 [Translation it] Performance > Optimizing content efficiency > Automating-image-optimization
  src/content/it/fundamentals/performance/optimizing-content-efficiency/automating-image-optimization/index.md
Labels: cla: no, type-Content-Translation

#8322 Removes dogfood label and adds note to PRPL article
  src/content/en/fundamentals/performance/prpl-pattern/index.md
Labels: cla: yes, type-Content

#8334 New in Chrome 79
  src/content/en/updates/2019/12/nic79.md
  src/content/en/updates/_redirects.yaml
  src/content/en/updates/images/2019/12/maskable.mp4
  src/content/en/updates/images/2019/12/maskable.webm
  src/content/en/updates/images/2019/12/new-79.jpg
Labels: cla: yes

#8340 s/createBufferMappedAsync/createBufferMapped/g
  src/content/en/updates/2019/08/get-started-with-gpu-compute-on-the-web.md
Labels: cla: yes

#8339 Fix typo in navigationPreload.html
  src/content/en/tools/workbox/_shared/config/single/navigationPreload.html
Labels: cla: yes

#8337 fix heading in the deprecations in Chrome 79 article
  src/content/en/updates/2019/10/chrome-79-deps-rems.md
Labels: cla: yes

#8343 Typo fix in Workbox docs
  src/content/en/tools/workbox/modules/_index.yaml
Labels: cla: yes

#5562 [Translation it] VR
  src/content/it/fundamentals/vr/index.md
Labels: cla: no, type-Content-Translation

#5638 [Translation it] Performance > Optimizing Content Efficiency / Javascript Startup Optimization
  src/content/it/fundamentals/performance/optimizing-content-efficiency/javascript-startup-optimization/index.md
Labels: cla: no, type-Content-Translation

#5708 [Translation it] Fundamentals > Design & User Experience > Accessibility
  src/content/it/fundamentals/accessibility/index.md
Labels: cla: no, type-Content-Translation

#5722 [Translation it] Fundamentals > Design & User Experience > Accessibility > How To Do an Accessibility Review
  src/content/it/fundamentals/accessibility/how-to-review.md
Labels: cla: no, type-Content-Translation

#6782 [Translation it] Progressive Web App Desktop
  src/content/it/progressive-web-apps/desktop.md
Labels: cla: no, type-Content-Translation

#6793 [Translation it] WebAPK
  src/content/it/fundamentals/integration/webapks.md
Labels: cla: no, type-Content-Translation

#6830 [Translation it] lighthouse/audits/blocking-resources.md
  src/content/it/tools/lighthouse/audits/blocking-resources.md
Labels: cla: no, type-Content-Translation

#8344 Deprecations and Removals for Chrome 80.
  src/content/en/updates/2019/12/chrome-80-deps-rems.md
  src/content/en/updates/2019/12/webvr-1-1-removed.md
Labels: cla: yes

#8345 Remove PRPL pattern doc & redirect
  src/content/en/fundamentals/_redirects.yaml
  src/content/en/fundamentals/performance/prpl-pattern/images/app-build-bundles.png
  src/content/en/fundamentals/performance/prpl-pattern/images/app-build-components.png
  src/content/en/fundamentals/performance/prpl-pattern/images/app-build-prpl-shop.jpg
  src/content/en/fundamentals/performance/prpl-pattern/index.md
  src/content/es/fundamentals/performance/prpl-pattern/index.md
  src/content/he/fundamentals/codelabs/your-first-multi-screen-site/index.md
  src/content/id/fundamentals/performance/prpl-pattern/index.md
  src/content/it/fundamentals/performance/prpl-pattern/index.md
  src/content/ja/fundamentals/performance/prpl-pattern/index.md
  src/content/ko/fundamentals/performance/prpl-pattern/index.md
  src/content/pt-br/fundamentals/performance/prpl-pattern/index.md
  src/content/zh-cn/fundamentals/performance/prpl-pattern/index.md
Labels: cla: yes

#8346 Intent to Explain Infographic
  src/content/en/chromium-blog/intent-to-infographic.jpg
Labels: cla: yes

#8347 New HTTP 203
  src/content/en/shows/http203/podcast/images/surjiko-small.jpg
  src/content/en/shows/http203/podcast/takes-two-to-tangent.md
Labels: cla: yes, type-Content

#8349 203 fix
  src/content/en/shows/http203/podcast/takes-two-to-tangent.md
Labels: cla: yes

#5613 [Translate ru] Resources -> writing update
  src/content/ru/resources/writing-an-update.md
Labels: cla: no, type-Content-Translation

#5614 [Translate ru] Resources -> yaml attr ref
  src/content/ru/resources/yaml-and-attr-reference.md
Labels: cla: no, type-Content-Translation

#5622 [Translate ru] Resources -> translations
  src/content/ru/resources/translations.md
Labels: cla: yes, type-Content-Translation

#5621 [Translate ru] Resources -> widgets
  src/content/ru/resources/widgets.md
Labels: cla: no, type-Content-Translation

#5624 [Translate ru] Fundamentals -> index
  src/content/ru/fundamentals/index.md
Labels: cla: yes, type-Content-Translation

#5721 [Translate ru] Fundamentals -> arch -> app-shell
  src/content/ru/fundamentals/architecture/app-shell.md
Labels: cla: yes, type-Content-Translation

#5620 [Translate ru] Resources -> markdown syntax
  src/content/ru/resources/markdown-syntax.md
Labels: cla: no, type-Content-Translation
