Repository google/WebFundamentals, pull requests merged in 2020-09, with the labels that each got.

#8988 Add deprecations/removals for Chrome 86.
  src/content/en/updates/2020/09/chrome-86-deps-rems.md
  src/content/en/updates/images/2020/09/dep-rem_86.jpg
Labels: Chrome 86, cla: yes

#8986 Fix JSON typo
  src/content/en/updates/2020/08/nic85.md
Labels: cla: yes

#8970 Updates TWA docs to use android-browser-helper-2.0.0
  src/content/en/android/trusted-web-activity/android-browser-helper-migration/index.md
  src/content/en/android/trusted-web-activity/integration-guide/index.md
Labels: cla: yes, content-updated

#8916 Redirect to new unified article.
  src/content/en/_redirects.yaml
  src/content/en/updates/2018/03/clipboardapi.md
  src/content/en/updates/images/2018/03/clipboardapi/prompt.png
Labels: cla: yes

#8992 Add tvanderlippe as contributor (author)
  src/content/en/images/contributors/tvanderlippe.jpg
  src/data/_contributors.yaml
Labels: cla: yes

#8993 [devtools-blog] Migrating to JS modules - DevTools engineering blog
  src/content/en/tools/chrome-devtools/_book.yaml
  src/content/en/tools/chrome-devtools/blog/_toc.yaml
  src/content/en/tools/chrome-devtools/blog/index.md
  src/content/en/updates/2020/09/migrating-to-js-modules.md
  src/content/en/updates/_shared/discover-devtools-blog.md
  src/content/en/updates/images/2020/09/devtools-blog.jpg
  src/content/en/updates/images/2020/09/es-migrate-spreadsheet.png
  src/data/commonTags.json
Labels: cla: yes, content-new, section-tools

#8994 [devtools] Remove outdated Styles pane instructions
  src/content/en/tools/chrome-devtools/css/reference.md
Labels: cla: yes, content-updated, section-tools

#8998 [devtools-blog] fix multiline
  src/content/en/updates/2020/09/migrating-to-js-modules.md
Labels: cla: yes

#9004 Fix character entities
  src/content/en/fundamentals/media/eme.md
Labels: cla: yes

#8968 [devtools-blog] How we built the Chrome DevTools Issues tab - DevTools engineering blog
  src/content/en/tools/chrome-devtools/blog/_toc.yaml
  src/content/en/tools/chrome-devtools/blog/index.md
  src/content/en/updates/2020/09/issues-tab.md
  src/content/en/updates/_shared/discover-devtools-blog.md
  src/content/en/updates/images/2020/09/devtools/3rd-party.mp4
  src/content/en/updates/images/2020/09/devtools/aggregated-issues.png
  src/content/en/updates/images/2020/09/devtools/how-we-built-issues-tab.png
  src/content/en/updates/images/2020/09/devtools/issues-clutter.png
  src/content/en/updates/images/2020/09/devtools/issues-notification.png
  src/content/en/updates/images/2020/09/devtools/prototypes.png
  src/content/en/updates/images/2020/09/devtools/related-issues.png
Labels: P1, cla: yes, content-new, section-tools

#9024 [devtools] Update network filtering reference
  src/content/en/tools/chrome-devtools/network/reference.md
Labels: DO NOT MERGE, P1, cla: yes, content-updated, section-tools, type-Content

#9021 Add Pavol Drotar to contributors
  src/content/en/android/custom-tabs/headers/index.md
  src/content/en/images/contributors/pavoldrotar.jpg
  src/data/_contributors.yaml
Labels: cla: yes
